header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-image: url("https://wallpapercave.com/wp/wp2120657.jpg");
  background-size: contain;
  padding-right: 20px;
  height: 100px;
}

header > h1 {
  text-transform: uppercase;
  color: orange;
  font-size: 50px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: "Helvetica Neue", sans-serif;
}

.menuList {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  list-style: none;
  padding: none;
  margin: 0em;
}

.menuItem {
  color: black;
  padding: 10px;
}

/* Unvisited Link */
.menuList a:link {
  color: white;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

/* Visited Link */
.menuList a:visited {
  color: white;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

/* Mouse Over Link */
.menuList a:hover {
  color: orange;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

/* Selected Link */
.menuList a:active {
  color: orange;
  text-shadow: 2px 2px 5px black;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.active a {
  color: orange;
}

article {
  background: orange;
}

section > h1 {
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 5px solid black;
  border-radius: 0px 30px 30px 0px;
  color: black;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* Newsfeed CSS */

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PERSONAL PAGE */
.imgFrameJoe {
  min-width: 100px;
  height: 100px;
  max-width: 125px;
}

.er-partner-img {
  height: 175px;
  width: 175px;
  align-content: space-between;
  margin-left: 25px;
  border: 2px solid white;
}

body {
  background: white;
  margin: 0;
  padding: 0;
}

article {
  background: orange;
  padding: 5px;
  margin-top: 3px;
}

section {
  margin: 5px;
  flex-wrap: nowrap;
}

section > p {
  margin: 20px;
  padding: 10px;
}

.link {
  background-color: black;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  border: 1px double white;
}

/* PERSONAL PAGE END */

/*Newsfeed CSS*/
.column p {
  display: flex;
  /* flex: 50% 50% 50%; */
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: justify;
  margin-left: 12em;
  margin-right: 12em;
  font-size: larger;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.column h1 {
  font-size: x-large;
  display: flex;
  flex-wrap: nowrap;
}

/* Trying to get them columns in extras page */
#ksArticle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#ksArticle > section {
  display: flex;
  flex-basis: 51%;
}

/* MAIN FOOTER */
footer {
  text-align: center;
  font-size: 15px;
  word-spacing: 5px;
  color: white;
  background-image: url("https://wallpapercave.com/wp/wp2120657.jpg");
  background-size: contain;
  padding-bottom: 20px;
}

/* Career Page */
.introPic {
  height: 50%;
  width: 50%;
}

.presPic {
  height: 25%;
  width: 25%;
}

.govPic {
  height: 25%;
  width: 25%;
}

.tvH1 {
  background-color: rgba(255, 255, 255, 0.5);
  border-right: 5px solid black;
  text-align: right;
  padding-right: 5px;
  border-left: none;
  border-radius: 30px 0px 0px 30px;
  color: black;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  width: 260px;
}

.politicsH1 {
  background-color: rgba(255, 255, 255, 0.5);
  border-right: 5px solid black;
  text-align: right;
  padding-right: 5px;
  border-left: none;
  border-radius: 30px 0px 0px 30px;
  color: black;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  width: 260px;
}

/* Intro Parent */
.intro {
  display: flex;
  flex-basis: 1fr 1fr 2fr;
  /* align-items: center; */
}

.intro > h1 {
  align-self: start;
  justify-self: stretch;
}
/* Tv Parent */
.tv-film {
  display: flex;
  flex-direction: row-reverse;
}

.tv-film > p {
  align-items: center;
}

.tvPic {
  order: 1;
  height: 50%;
  width: 50%;
}

/* Music Parent */
.music {
  display: flex;
  /* align-items: center; */
}

.musicPic {
  order: 5;
  height: 50%;
  width: 50%;
}

/* Politics Parent */
.politics {
  display: flex;
  /* flex-basis: 1fr 1fr 2fr;
  align-items: center; */
}

.politics > p {
  order: 2;
}

.politicsH1 {
  order: 5;
}

/* EXTRAS */

.ksSection {
  /* display: flex; */
  padding: 10px 0px 10px 5px;
}

ul {
  list-style-type: none;
}

.ksList {
  padding: 5px;
}

.ksListOrganizations {
  padding: 5px;
  width: 120px;
}

ul .tourDates {
  margin-left: 15px;
  font-weight: normal;
}

ul #tourNames {
  font-weight: bold;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

a > img {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ksList > li > a {
  text-decoration: none;
  color: black;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

.ksList > li > a:hover {
  color: white;
}

.ksList > li > a:visited {
  color: white;
}

.ksList > li {
  padding: 5px 0px 5px 0px;
}
/* summary css will have class="sum" somewhere in the class*/

/* .sum-collaborators {
  display: flex;
  flex-direction: column;
} */

.sum-pad {
  padding: 10px;
}

.sum-joePhoto {
  max-width: 100%;
  height: auto;
  padding: 8px;
}

.sum-imgFrameJoe {
  border: none;
  margin: 5px;
  box-shadow: 5px 10px #888888;
}

.sum-columns {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

#collaboratorNames {
  list-style: none;
}

#listNames {
  list-style: none;
}

/* summary css */
